<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@(ViewBag.PageTile ?? "قاصدک | سامانه تبلیغات دستگاه های هوشمند" )</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="/Content/themes/impression/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.rawgit.com/morteza/bootstrap-rtl/v3.3.4/dist/css/bootstrap-rtl.min.css">
    <!-- Main Style -->
    <link rel="stylesheet" type="text/css" href="/Content/themes/impression/assets/css/main.css">
    <!-- Responsive Style -->
    <link rel="stylesheet" type="text/css" href="/Content/themes/impression/assets/css/responsive.css">
    <!-- Fonts -->
    <link rel="stylesheet" type="text/css" href="/Content/themes/impression/assets/fonts/font-awesome.min.css">
    <!-- Icon -->
    <link rel="stylesheet" type="text/css" href="/Content/themes/impression/assets/fonts/simple-line-icons.css">
    <!-- Slicknav -->
    <link rel="stylesheet" type="text/css" href="/Content/themes/impression/assets/css/slicknav.css">
    <!-- Nivo Lightbox -->
    <link rel="stylesheet" type="text/css" href="/Content/themes/impression/assets/css/nivo-lightbox.css">
    <!-- Animate -->
    <link rel="stylesheet" type="text/css" href="/Content/themes/impression/assets/css/animate.css">
    <!-- Owl carousel -->
    <link rel="stylesheet" type="text/css" href="/Content/themes/impression/assets/css/owl.carousel.css">

    <!-- Color CSS Styles  -->
    <link rel="stylesheet" type="text/css" href="/Content/themes/impression/assets/css/colors/purple.css" media="screen" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href="~//Content/themes/impression/assets/impressionfa.css" rel="stylesheet" />
</head>
<body>

    <!-- Header Area wrapper Starts -->
    <header id="header-wrap">
        <!-- Roof area Starts -->
        <div id="roof" class="hidden-xs">
            <div class="container">
                <div class="col-md-6 col-sm-6">
                    <div class="info-bar-address">
                        <i class="icon-location-pin"></i> ایران، تهران
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <!-- Quick Contacts Starts -->
                    <div class="quick-contacts">
                        @*<span><i class="icon-phone"></i> (00) 123 456 789</span>*@
                        <span><i class="icon-envelope"></i><a href="#">info@Qasedak-Adv.com</a></span>
                    </div>
                    <!-- Quick Contacts End -->
                </div>
            </div>
        </div>
        <!-- Roof area End -->
        <!-- Nav Menu Section Start -->
        <div class="navigation-menu">
            <nav class="navbar navbar-default navbar-event">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header col-md-2">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/"><img src="/Content/system/Taraxacum.png" alt="" height="80px"></a>
                    </div>

                    <div class="collapse navbar-collapse" id="navbar">
                        <ul class="nav navbar-nav navbar-right">
                            <li class=""><a href="/">خانه</a></li>
                            @*<li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Pages <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="gallery.html">Gallery</a></li>
                                    <li><a href="pricing.html">Pricing Table</a></li>
                                    <li><a href="sponsors.html">Sponsors</a></li>
                                    <li><a href="single-post.html">Single Post</a></li>
                                </ul>
                            </li>*@
                            <li><a href="/درباره‌ما">درباره ما</a></li>
                            <li><a href="/خدمات">خدمات</a></li>
                            <li><a href="/کمپین‌ها">کمپین ها</a></li>
                            <li><a href="/مشتریان">مشتریان</a></li>
                            <li><a href="/نرم‌افزارها">نرم افزارها</a></li>
                            <li><a href="/تماس‌با‌ما">تماس با ما</a></li>
                            <li class="active"><a href="/Users">ورود</a></li>

                        </ul>
                    </div><!-- /navbar-collapse -->
                </div><!-- /container -->
                <!-- Mobile Menu Start -->
                <ul class="wpb-mobile-menu">
                    <li class="active"><a href="/">Home</a></li>
                    <li>
                        <a href="#">Pages</a>
                        <ul class="dropdown">
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="gallery.html">Gallery</a></li>
                            <li><a href="pricing.html">Pricing Table</a></li>
                            <li><a href="sponsors.html">Sponsors</a></li>
                            <li><a href="single-post.html">Single Post</a></li>
                        </ul>
                    </li>
                    <li><a href="schedule.html">Schedule</a></li>
                    <li><a href="speakers.html">Speakers</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="pricing.html">Buy Tickets</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
                <!-- Mobile Menu End -->

            </nav>
        </div>
        <!-- Nav Menu Section End -->

    </header>
    <!-- Header Area wrapper End -->
    @RenderBody()
    @*<!-- Call to action Section -->
    <section id="" class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                  
                </div>
            </div>
        </div>
    </section>
    <!-- Call to action Section End -->*@
    <!-- Footer Section Start -->
    <footer class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <h3><img src="/Content/system/footer-logo.png" alt=""></h3>
                    <p>
                        If you think you have the passion,
                        attitude and capability to join us
                        the next big software company
                        s so that we can get the convers.
                    </p>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <h3>Support</h3>
                    <ul>
                        <li><a href="#">Support</a></li>
                        <li><a href="#">Docs</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <h3>Learn More</h3>
                    <ul>
                        <li><a href="#">How it Works</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Log In</a></li>
                        <li><a href="#">Sign Up</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <h3>Quick Link</h3>
                    <ul>
                        <li><a href="#">Schedule</a></li>
                        <li><a href="#">Gallery</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Pricing</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    <!-- Main contetn End -->
    <!-- Copytight Start -->
    <section id="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="copyright-text text-center">
                        ©Designed and Developed by
                        <a href="http://graygrids.com/">
                            GrayGrids
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- Copytight End -->
    <!-- Go to Top Link -->
    <a href="#" class="back-to-top">
        <i class="icon-arrow-up"></i>
    </a>

    <!-- jQuery Load -->
    <script src="/Content/themes/impression/assets/js/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="/Content/themes/impression/assets/js/bootstrap.min.js"></script>
    <!-- Countdown Js -->
    <script src="/Content/themes/impression/assets/js/jquery.countdown.min.js"></script>
    <!-- Smooth scroll JS -->
    <script src="/Content/themes/impression/assets/js/smooth-scroll.js"></script>
    <!-- Wow Scroll -->
    <script src="/Content/themes/impression/assets/js/wow.js"></script>
    <!-- Owl carousel -->
    <script src="/Content/themes/impression/assets/js/owl.carousel.min.js"></script>
    <!-- Slicknav js -->
    <script src="/Content/themes/impression/assets/js/jquery.slicknav.js"></script>
    <!--  Nivo lightbox Js -->
    <script src="/Content/themes/impression/assets/js/nivo-lightbox.js"></script>
    <!-- Contact Form Scripts -->
    <script src="/Content/themes/impression/assets/js/form-validator.min.js"></script>
    <script src="/Content/themes/impression/assets/js/contact-form-script.js"></script>

    <!-- All Js plugin -->
    <script src="/Content/themes/impression/assets/js/main.js"></script>
    <!-- Map JS -->
    <script type="text/javascript" src="/Content/themes/impression/assets/js/jquery.mapit.min.js"></script>
    <script src="/Content/themes/impression/assets/js/initializers.js"></script>

</body>
</html>